@model IEnumerable<Category>
<div class="container p-3">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Category List</h2>
            <p>List of categories</p>
        </div>
        <div>
            <a asp-controller="Category" asp-action="Upsert" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <table class="table table-hover table-bordered border-primary">
        <thead class="thead-dark">
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {

                <tr>
                    <td width="50%">@item.CategoryID</td>
                    <td width="30%">@item.Name</td>
                    <td width="20%">
                        <div class="d-flex">
                            <a asp-controller="Category" asp-action="Upsert" asp-route-id="@item.CategoryID" class="btn btn-sm font-sm rounded btn-brand d-flex justify-content-center align-items-center mr-10">
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            <a href="#" class="btn btn-sm font-sm btn-light rounded d-flex justify-content-center align-items-center">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>